.btn-blue {
	background-color: #ffdd00;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto';
}

.btn-blue:hover {
	background-color: black;
}
